{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <article class="article">
        <header>
            <h1>API</h1>
        </header>
        
        <p>Quote - View a random quote</p>
        <form method= "get" action="{{ path('quote') }}">
            <input type="submit" value="api/quote" />
        </form>

        <p>Deck - View a deck of cards sorted by value and suits</p>
        <form method= "get" action="{{ path('api_deck') }}">
            <input type="submit" value="api/deck" />
        </form>

        <p>Shuffled Deck - POST request shuffle the cards and return a JSON result</p>
        <form method= "post" action="{{ path('api_shuffle') }}">
            <input type="submit" value="api/deck/shuffle" />
        </form>

        <p>Draw a Card - POST request draw a card from the deck and show how many cards are left</p>
        <form method= "post" action="{{ path('api_draw_card') }}">
            <input type="submit" value="api/deck/draw" />
        </form>

        <p>Draw Cards - POST request draw multiple cards and show how many cards are left</p>
        <form method= "post" action="{{ path('api_draw_cards_post') }}">
            <input type="number" name="num_cards" min="1" max="52" value="1">
            <input type="submit" value="api/deck/draw/:number"/>
        </form>

    </article>
{% endblock %}
